@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&family=Open+Sans:wght@700&display=swap");

:root {
  --title-font-family: open sans, -apple-system, BlinkMacSystemFont, segoe ui,
    helvetica, arial, pingfang sc, source han sans sc, noto sans cjk sc,
    sarasa gothic sc, microsoft yahei, sans-serif, apple color emoji,
    segoe ui emoji;
  --main-font-family: helvetica, lato, -apple-system, BlinkMacSystemFont,
    segoe ui, helvetica, arial, pingfang sc, source han sans sc,
    noto sans cjk sc, sarasa gothic sc, microsoft yahei, sans-serif,
    apple color emoji, segoe ui emoji;
  --monospace-font-family: sfmono-regular, consolas, liberation mono, menlo,
    monospace;

  --primary-color: #f7df1e;
  --secondary-color: #bd10e0;
  --accent-color: #f76f1e;
  --bg-color: #181818;
  --bg-accent-color: #151515;
  --text-color: #cccccc;
  --muted-text-color: #999999;
  --secondary-link-color: #323330;
  --code-color: #1e88f7;

  /*
    Primary Color: Main buttons, headlines, key highlights.
    Secondary Color: Links, secondary buttons, call-to-action elements.
    Accent Color: Icons, small decorative elements, hover effects.
    Background Colors: Main page background, darker panels or sections.
    Text Colors: Main body text, lighter text on darker backgrounds.
  */
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  font-family: var(--main-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
}

/* Headings */
.custom-h1 {
  font-size: 1.75rem;
  font-weight: bold;
  margin: 1.25rem 0 0.25rem 0;
}

.custom-h2 {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 1rem 0 0.25rem 0;
}

@media (max-width: 767px) {
  .custom-h1 {
    font-size: 1.5rem;
  }

  .custom-h2 {
    font-size: 1.125rem;
  }
}
/* Links */
a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  border-bottom: none;
}

/* Lists */
ul {
  padding-left: 1.5rem;
  line-height: 1.7;
  margin: 0;
}

/* Text */
p {
  line-height: 1.7;
  font-size: 1.1rem;
  margin: 0;
  padding: 0;
  transition: font-size 0.3s ease;
}

@media (min-width: 768px) {
  p {
    font-size: 1.2rem;
  }
}

@media (max-width: 767px) {
  p {
    font-size: 1rem;
  }
}

p,
span,
li,
ul {
  color: var(--text-color);
}

b {
  font-weight: 700;
}

/* Code */
code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  border-radius: 6px;
  color: var(--code-color);
}

code::before,
code::after {
  content: "`";
}

pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  border-radius: 6px;
  word-break: normal;
  word-wrap: normal;
  border: 1px solid #eaeaea;
  margin: 24px 0;
  white-space: pre;
  -webkit-overflow-scrolling: touch;
}

code,
pre {
  font-family: var(--monospace-font-family);
}
